.body
{   margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Tillana',cursive;
    line-height: 2;
}
h2
{
	font-size: 2.1rem;
}
.contact-me
{
	color: #11999e;
}
.div1 > h2:nth-child(3) {
  font-size: 2.1rem;
  letter-spacing: -0.011em;
  color: #66bfbf;
  font-weight: normal;
}
div.skill-row:nth-child(2) > h3:nth-child(2) 
{ 
	color: #11999e;
}
div.skill-row:nth-child(3) > h3:nth-child(1) 
{
	color: #11999e;
}
.div3>a
{
	color: #11999E;
}


.div1
{
	background-color: #e3fdfd;
	padding-top: 40px;
	text-align: center;
	padding: 20px;
}
.developer
{
	width: 280px;
    height: 180px;
	float: left;
	padding-right: 30px;
	padding-bottom: 30px;
}
.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45c79e), color-stop(1, #2aa0bd) );
	background:-moz-linear-gradient( center top, #45c79e 5%, #2aa0bd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45c79e', endColorstr='#2aa0bd');
	background-color:#45c79e;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
    text-indent:0;
	border:1px solid #189687;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
    height:50px;
	line-height:50px;
    width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #284166;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2aa0bd), color-stop(1, #45c79e) );
	background:-moz-linear-gradient( center top, #2aa0bd 5%, #45c79e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2aa0bd', endColorstr='#45c79e');
	background-color:#2aa0bd;
}.btn:active {
	position:relative;
	top:1px;}
.div3>p:nth-child(4)
{
	color: #EAF6F6;
}
.fire
{
    width: 280px;
    height: 180px;
    float: right;
    padding-left: 30px;
    position: relative;
    bottom: 60px;
}
.div2
{
	text-align: center;
	
}
.div3
{
	background-color: #66bfbf;
	text-align: center;
	margin-top: 20px;
}
.skills
{
	padding: 20px;
}
.skill-row
{
	padding: 20px;
	width: 50%;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
	text-align: justify;
	line-height: 2;
}
.profile
{
	padding: 20px;
	margin: 20px;
}
.dp
{
	border-radius: 100%;
	width: 200px;
	height: 210px;
}
.div1 img:nth-child(1)
{
	position: relative;
	left: 300px;
}
#cloud2
{
	position: absolute;
	top:380px;
	left:60px;
}
#mountain
{
	position: relative;
}
.h1
{
	font-size: 3.8rem;
	font-style: italic;
    color: #66bfbf;
	font-family: 'Sacramento', cursive;
}